*,
*::before,
*::before,{
  box-sizing: border-box;
}

@font-face {
  font-family: 'courier';
  src: url("../fonts/Courier_Prime.ttf");
}

body {
  color: $text-color;
  // overflow: auto;
  font-family: sans-serif;
  background: #f8e8d6;
}

a{
  text-decoration: none;
  color: $complementary_color;
    &:hover{
      color: complement($complementary_color);
    }
}

// div {
//   margin: 20px auto;
// }
