/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::before {
  box-sizing: border-box; }

@font-face {
  font-family: 'courier';
  src: url("../fonts/Courier_Prime.ttf"); }
body {
  color: #bbaaff;
  font-family: sans-serif;
  background: #f8e8d6; }

a {
  text-decoration: none;
  color: #75bee4; }
  a:hover {
    color: #e49b75; }

.box:nth-child(1) {
  background: #f2d2ae; }

.box:nth-child(2) {
  background: #f2d5b3; }

.box:nth-child(3) {
  background: #f3d7b7; }

.box:nth-child(4) {
  background: #f4dabc; }

.box:nth-child(5) {
  background: #f5dcc0; }

.box:nth-child(6) {
  background: #f5dfc4; }

.box:nth-child(7) {
  background: #f6e1c9; }

.box:nth-child(8) {
  background: #f7e3cd; }

.box:nth-child(9) {
  background: #f7e6d1; }

.box:nth-child(10) {
  background: #f8e8d6; }

.box {
  width: 100%;
  height: 10px; }

.page-wrapper {
  overflow: auto; }
  .page-wrapper .bg_wrapper {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw; }
  .page-wrapper .intro {
    height: 100vh;
    background-image: url("../img/believe.png");
    background-size: cover;
    text-align: center;
    display: block; }
    @media screen and (max-width: 780px) {
      .page-wrapper .intro {
        height: 50vh;
        background-image: none; } }
    .page-wrapper .intro header {
      letter-spacing: 1px;
      text-transform: uppercase;
      position: relative;
      top: 18%; }
      .page-wrapper .intro header h1 {
        color: #543972;
        font-size: 5em;
        font-family: 'courier'; }
        @media screen and (max-width: 510px) {
          .page-wrapper .intro header h1 {
            font-size: 4em; } }
      .page-wrapper .intro header h2 {
        letter-spacing: 7px;
        font-size: 1.7em;
        padding-top: 10px; }
        @media screen and (max-width: 795px) {
          .page-wrapper .intro header h2 {
            margin-top: 29%; } }
        @media screen and (max-width: 780px) {
          .page-wrapper .intro header h2 {
            font-size: 1.4em;
            margin-top: 28vh;
            color: #543972; } }
      .page-wrapper .intro header p {
        font-size: 1em;
        width: 75%;
        margin: 10px auto;
        line-height: 23px; }
        @media screen and (max-width: 780px) {
          .page-wrapper .intro header p {
            font-size: .8em;
            width: 90%;
            color: #543972; } }
      .page-wrapper .intro header .download {
        font-size: .8em;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #808080;
        opacity: .6; }
        @media screen and (max-width: 795px) {
          .page-wrapper .intro header .download {
            color: #f8e8d6; } }
        @media screen and (max-width: 780px) {
          .page-wrapper .intro header .download {
            color: #808080; } }
    .page-wrapper .intro .introText {
      position: absolute;
      top: 75vh;
      left: 50%;
      transform: translate(-50%, 0);
      margin: auto;
      width: 50%; }
      .page-wrapper .intro .introText .summary {
        font-size: 1.2em; }
      .page-wrapper .intro .introText .preamble h3 {
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 7px; }
      .page-wrapper .intro .introText .preamble p {
        font-size: 0.8em;
        line-height: 20px;
        letter-spacing: 1px; }
      @media screen and (max-width: 1100px) {
        .page-wrapper .intro .introText {
          width: 70%; } }
      @media screen and (max-width: 780px) {
        .page-wrapper .intro .introText {
          display: none; } }
    .page-wrapper .intro img {
      max-width: 100%;
      display: block;
      margin: 50px auto;
      width: 35%;
      opacity: .7; }
  .page-wrapper .content-wrapper {
    color: #808080;
    width: 75%;
    margin: auto;
    overflow: auto; }
    .page-wrapper .content-wrapper .main {
      margin: auto;
      width: 75%;
      float: right;
      overflow: auto;
      width: 75%;
      padding: 1%; }
      @media screen and (max-width: 795px) {
        .page-wrapper .content-wrapper .main {
          width: 95%; } }
      .page-wrapper .content-wrapper .main .explanation {
        background-image: url("../img/cloud.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left; }
      .page-wrapper .content-wrapper .main .participation {
        background-image: url("../img/cloud4.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left; }
      .page-wrapper .content-wrapper .main .requirements {
        background-image: url("../img/cloud2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left; }
      .page-wrapper .content-wrapper .main h3 {
        color: #75bee4;
        font-size: 1.5em;
        letter-spacing: 5px;
        font-family: "courier";
        text-transform: uppercase; }
      .page-wrapper .content-wrapper .main p {
        margin: 15px 0;
        line-height: 22px; }
      @media screen and (max-width: 780px) {
        .page-wrapper .content-wrapper .main {
          margin-top: 10vh; } }
    .page-wrapper .content-wrapper .sidebar {
      float: left;
      margin: auto;
      width: 75%;
      width: 24%;
      padding: 1%; }
      .page-wrapper .content-wrapper .sidebar h3 {
        font-family: "courier";
        font-size: 1.1em; }
      .page-wrapper .content-wrapper .sidebar li {
        margin: 15px;
        letter-spacing: 1px; }
      .page-wrapper .content-wrapper .sidebar .designer-name {
        color: #729499;
        font-size: 0.75em; }
        .page-wrapper .content-wrapper .sidebar .designer-name:hover {
          color: #8c7062; }
      @media screen and (max-width: 795px) {
        .page-wrapper .content-wrapper .sidebar {
          width: 90%;
          background-image: url("../img/ufo.png");
          background-size: cover; }
          .page-wrapper .content-wrapper .sidebar h3 {
            float: right;
            padding-top: 15px; }
          .page-wrapper .content-wrapper .sidebar ul {
            line-height: 20px;
            text-align: right; }
            .page-wrapper .content-wrapper .sidebar ul li {
              margin: 0;
              padding: 0;
              clear: both; }
            .page-wrapper .content-wrapper .sidebar ul br {
              display: none; } }
    @media screen and (max-width: 1100px) {
      .page-wrapper .content-wrapper {
        width: 90%; } }

/*# sourceMappingURL=main.css.map */
