/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::before {
  box-sizing: border-box; }

@font-face {
  font-family: 'courier';
  src: url("../fonts/Courier_Prime.ttf"); }
body {
  color: #bbaaff;
  font-family: sans-serif; }

a {
  text-decoration: none;
  color: #75bee4; }
  a:hover {
    color: #e49b75; }

.page-wrapper {
  overflow: auto; }
  .page-wrapper .bg_wrapper {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; }
  .page-wrapper .intro {
    height: 100vh;
    background-image: url("../img/believe.png");
    background-size: cover;
    text-align: center;
    display: block; }
    .page-wrapper .intro header {
      letter-spacing: 1px;
      text-transform: uppercase;
      position: relative;
      top: 18%; }
      .page-wrapper .intro header h1 {
        color: #543972;
        font-size: 5em !important;
        font-family: 'courier'; }
      .page-wrapper .intro header h2 {
        letter-spacing: 7px;
        font-size: 1.7em;
        padding-top: 10px; }
      .page-wrapper .intro header p {
        font-size: 1em;
        width: 75%;
        margin: 10px auto;
        line-height: 23px; }
      .page-wrapper .intro header .download {
        font-size: .8em;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #808080;
        opacity: .6; }
    .page-wrapper .intro .introText {
      position: relative;
      top: 60%;
      margin: auto;
      width: 50%; }
      .page-wrapper .intro .introText .summary {
        font-size: 1.2em; }
      .page-wrapper .intro .introText .preamble h3 {
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 7px; }
      .page-wrapper .intro .introText .preamble p {
        font-size: 0.8em;
        line-height: 20px;
        letter-spacing: 1px; }
    .page-wrapper .intro img {
      max-width: 100%;
      display: block;
      margin: 50px auto;
      width: 35%;
      opacity: .7; }
  .page-wrapper .content-wrapper {
    width: 75%;
    border: 1px solid black;
    margin: auto;
    overflow: auto; }
    .page-wrapper .content-wrapper .main {
      margin: auto;
      width: 75%;
      float: right;
      border: 1px solid green;
      overflow: auto;
      width: 75%;
      padding: 1%; }
      .page-wrapper .content-wrapper .main h3 {
        color: #75bee4; }
    .page-wrapper .content-wrapper .sidebar {
      float: left;
      margin: auto;
      width: 75%;
      border: 1px solid red;
      width: 24%;
      padding: 1%; }

/*# sourceMappingURL=main.css.map */
