@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_globals.scss";


// @for $i from 1 through 100 { //number of .box divs //
//   .box:nth-child(#{$i}) {
//     background: darken(white, $i);
//   }
// }

.page-wrapper {
  overflow: auto;

  .bg_wrapper{
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }


  .intro {
    height: 100vh;
    background-image: url("../img/believe.png");
    background-size: cover;
    text-align: center;
    display: block;
    header {
      letter-spacing: 1px;
      text-transform: uppercase;
      position: relative;
      top: 18%;
      h1{
        color:$logo_color;
        font-size: 5em !important;
        font-family: 'courier';
      }
      h2{
        letter-spacing: 7px;
        font-size: 1.7em;
        padding-top: 10px
      }
      p {
        font-size: 1em;
        width: 75%;
        margin: 10px auto;
        line-height: 23px;
      }
      .download {
        font-size: .8em;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #808080;
        opacity: .6;
      }
    }
    .introText {
      position: relative;
      top: 60%;
      margin: auto;
      width: 50%;
      .summary{
        font-size: 1.2em;
      }
      .preamble {
        h3{
          font-size: 2em;
          text-transform: uppercase;
          letter-spacing: 7px;
        }
        p{
          font-size: 0.8em;
          line-height: 20px;
          letter-spacing: 1px;
        }
      }
    }
    img {
      max-width: 100%;
      display: block;
      margin: 50px auto;
      width: 35%;
      opacity: .7;
    }
  }

  .content-wrapper{
    width: 75%;
    border: 1px solid black;
    margin: auto;
    overflow: auto;
    .main{
      @include sections;
      @include container;
      float:right;
      border: 1px solid green;
      overflow: auto;
      width: 75%;
      padding: 1%;
      h3{
        color: $complementary_color;
      }
    }

    .sidebar{
      float:left;
      @include container;
      @include sections;
      border: 1px solid red;
      width: 24%;
      padding: 1%;
    }
  }


}
